{% extends 'layout.html' %}
{% block title %}"{{ obj.name }}" chat{% endblock %}

{% block content %}
    <style>
    #chat {
        overflow-y: scroll;
        height: 300px;
        border: thin solid #CCC;
    }
    .chat-message {
        margin: 0 0 5px;
    }
    .chat-message.status {
        color: red;
    }
    #input {
        width: 100%;
    }
    </style>
    <p>
        {% if obj.name in current_user.channels %}
            <button type="button" onclick="$chat.leave(this);">Leave</button>
        {% else %}
            <button type="button" onclick="$chat.join(this);">Join</button>
        {% endif %}
    </p>

    <div id="chat">
        {% for data in messages %}
            <p class="chat-message">
                <span style="color: {{ colors[data['username']] }};">{{ data['username'] }}</span>:
                {{ data['message'] }}
            </p>
        {% endfor %}
    </div>
    <p><input id="input" placeholder="Enter your message here"></p>
{% endblock %}

{% block scripts %}
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='chat.js') }}"></script>
    <script>
        var URL = 'ws://' + document.domain + ':' + location.port;
        var $chat = new Chat(URL, io, {
            wrapper: $('#chat'),
            colors: {{ colors|tojson }},
            input: $('#input'),
            room: "{{ obj.name }}",
            redirect: "{{ url_for('general.home') }}"
        });
   </script>
{% endblock %}

